<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047820805524-j0e62irab7k1d76u5pd1kfa8fv6vgkep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047820805524-j0e62irab7k1d76u5pd1kfa8fv6vgkep</string>
	<key>API_KEY</key>
	<string>AIzaSyALlri_r6vZynLLLF6HN-kbE4V3aIFT1B4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047820805524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.norahAlthakafi.ChatEver</string>
	<key>PROJECT_ID</key>
	<string>chatever-60f75</string>
	<key>STORAGE_BUCKET</key>
	<string>chatever-60f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047820805524:ios:16f38e640af09ac9fc5b81</string>
</dict>
</plist>